
body {
   height: 100%;
   width: 100%;
   margin-top: 0em;
   margin-bottom: 0em;
   margin-left: 0em;
   margin-right: 0em;
   font-family: serif;
}

h1,h2,h3,h4,h5 {
   font-family: sans-serif;
}

#loading {
   display: block;
   position: absolute;
   top: 47.5%;
   left: 47.5%;
}

#color-legend {
   z-index: 10;
   position: absolute;
   top: 0.5em;
   left: 5%;
   width: 90%;
   text-align: center;
}

#color-legend > div {
   display: inline-block;
   width: 6%;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   opacity: 0.5;
}

#color-legend > div > span {
   opacity: 1;
   z-index: 11;
   font-weight: bold;
}

#map {
   position:absolute; 
   top:0; 
   bottom:0; 
   width:100%;
}

#months-widget {
   z-index: 10;
   position: absolute;
   top: 2em;
   right: 1em;
   text-align: center;
}

#months-widget input[type=range] {
   width: 30em;
   -webkit-appearance: none;
}


#months-widget input::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 1.25em;
   width: 0.5em;
   background: rgb(150,150,150);
   border: none;
   border-radius: 5%;
   margin-top: -0.25em;
}
#months-widget input::-webkit-slider-runnable-track {
   height: 0.75em;
   background: rgb(75,75,75);
}

@media screen and (max-device-width: 400px) and (max-device-height: 800px) {

#months-widget {

   top: auto;
   right: auto;
   bottom: 1em;
   left: 0em;
   width: 100%;
   font-size: 2em;
}

#months-widget input[type=range] {
   font-size: 1.5em;
   width: 90%;
}

#color-legend {
   font-size: 2em;
}

#color-legend > div:first-of-type, #color-legend > div:last-of-type {
   width: 8%;
}


}
