
body {
   height: 100%;
   width: 100%;
   margin-top: 0em;
   margin-bottom: 0em;
   margin-left: 0em;
   margin-right: 0em;
   font-family: serif;
}

h1,h2,h3,h4,h5 {
   font-family: sans-serif;
}

#loading {
   display: block;
   position: absolute;
   top: 47.5%;
   left: 47.5%;
}

#color-legend {
   z-index: 10;
   position: absolute;
   top: 0.5em;
   left: 5%;
   width: 90%;
   text-align: center;
}

#color-legend > div {
   display: inline-block;
   width: 6%;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   opacity: 0.5;
}

#color-legend > div > span {
   opacity: 1;
   z-index: 11;
   font-weight: bold;
}

#map {
   position:absolute; 
   top:0; 
   bottom:0; 
   width:100%;
}

#dataset {
   z-index: 10;
   position: absolute;
   text-align: center;
   bottom: 1em;
   width: 100%;
}

#dataset h3 {
   display: none;
}

#dataset button {
   display: inline-block;
   width: 22%;
   margin-right: 2%;
   border-style: none;
   font-size: 1.25em;
   background-color: rgb(75,75,75);
   color: white;
   text-transform: uppercase;
   text-align: center;
   padding-left: 0em;
   padding-right: 0em;
}

#months-widget {
   z-index: 10;
   position: absolute;
   top: 2em;
   right: 1em;
   text-align: center;
}

#months-widget h2 {
   margin-bottom: 0.5em;
}

#months-widget h3 {
   margin-top: 0em;
}

#months-widget p {
   margin-top: 0em;
   margin-bottom: 0em;
}

#months-widget p img {
   height: 1.5em;
   vertical-align: middle;
}

#months-widget p img.next {
   margin-left: 0.25em;   
}

#months-widget #prev-month img, #months-widget #next-month img {
   height: 1.4em;
   padding-top: 0.05em;
   padding-bottom: 0.05em;
}

#months-widget p img.prev {
   margin-right: 0.25em;   
}


#months-widget input[type=range] {
   width: 30em;
   -webkit-appearance: none;
}


#months-widget input::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 1.25em;
   width: 0.5em;
   background: rgb(150,150,150);
   border: none;
   border-radius: 5%;
   margin-top: -0.25em;
}
#months-widget input::-webkit-slider-runnable-track {
   height: 0.75em;
   background: rgb(75,75,75);
}

@media screen and (max-device-width: 400px) and (max-device-height: 800px) {

#months-widget {

   top: auto;
   right: auto;
   bottom: 3em;
   left: 0em;
   width: 100%;
   font-size: 2em;
}

#months-widget h3 {
   margin-top: 0em;
}

#months-widget input[type=range] {
   font-size: 1.5em;
   width: 70%;
}

#months-widget p button {
   width: 6em;
   height: 5em;
   vertical-align: middle;
   margin-top: 0em;
   text-align: center;
   -webkit-appearance: none;
   background-color: white;
   border-top-width: 2px;
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-top-style: outset;
   border-right-style: outset;
   border-bottom-style: outset;
   border-left-style: outset;
   border-top-color: buttonface;
   border-right-color: buttonface;
   border-bottom-color: buttonface;
   border-left-color: buttonface;
   box-sizing: border-box;
   border-radius: 4px;
}
#months-widget p button img { 
   height: 4.5em;
}
#months-widget #prev-month img, #months-widget #next-month img {
   height: 4.2em;
}  


#color-legend {
   font-size: 2em;
}

#color-legend > div:first-of-type, #color-legend > div:last-of-type {
   width: 8%;
}

#dataset {
   font-size: 1.75em;
}

#dataset button {
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   text-align: center;
   padding-left: 0em;
   padding-right: 0em;
}


}
